*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: "Poppins";
    backgound-color: #f0f2f5;
    color: #333

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    backgound-color: #fff
    padding: 80px;
    height: 80px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1 )
}

.nav-links {
    display:flex;
    list-style: none;
    gap: 24px
}

.nav-link:hover {
    color:#00b894
}

.nav-link {
    text-decoration: none;
    color: #2d3436;
    font-size: 16px
}

#nav-active {
    border-bottom: 3px #00b894 solid;
    color: #00b894;
}

.header-container {
    text-align: center;
    padding: 40px 0;
}

.header-container h1 {
    font-size: 40px;
}

.header-container span {
    color: #00b894
}

main {
    width: 800px;
    margin: 0 auto;
}

.cards-section {
    text-align: center;
    display: flex;
    gap: 24px;
}

.feature-card:hover {
    border: 2px solid #00b894
     
}

.feature-card {
    background-color: #fff;
    color: #333;
    padding: 24px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
     width: 200px;

}

.feature-card i {
    font-size: 48px;
    color: #00b894;
    margin-bottom: 16px;
}