/* css-01-variaveis-globais */
:root {
  --primary-color: #00b894;
  --primary-dark: #019477;
  --secondary-color: #2d3436;
  --background-color: #f0f2f5;
  --card-color: #ffffff;
  --text-color: #333333;
  --muted-color: #636e72;
  --danger-color: #d63031;
  --water-color: #0984e3;
  --border-color: #dfe6e9;

  --shadow-md:0 10px 10px rgba(0, 0, 0, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color)
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    background-color: var(--card-color);
    padding: 0 5%;
    box-shadow: 0 2px 8px rgba(0 , 0, 0, 0.1);
}

.logo {
    /* flexbox */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
}

.nav-link:hover {
    color: var(--primary-color)
}

#nav-active { 
    border-bottom: 3px var(--primary-color) solid;
    color: var(--primary-color)
}

.header-container {
    text-align: center;
    padding: 2.5rem 0;
}

.header-container h1 {
    font-size: 2.5rem;
}

.header-container span {
    color: var(--primary-color)
}

main {
    width: 80vw;
    margin: 0 auto;
    padding: 2rem 0;
}

.cards-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
}

.feature-card {
    background-color: var(--card-color);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: var(--shadow-md);
    width: 16rem;
}

.feature-card:hover {
    border: 2px solid var(--primary-color);
}

.feature-card i {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.tool-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    padding: 2rem;

    background-color: var(--card-color);
    box-shadow: var(--shadow-md);
    border-radius: 10px;
}

.tool-container-title { 
    text-align: center;
}

.tool-container-title h2 {
    color: var(--secondary-color);
    font-size: 1.8rem;
}

.tool-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-weight: 600;
    color: var(--secondary-color);
}

.form-group input,
.form-group select {
    padding: 0.8rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
}

.form-group input:focus,
.form-group select:focus {
    outline:none;
    border-color: var(--primary-color);
}

.action-btn {
    padding: 0.8rem 1rem;
    background-color: var(--primary-color);
    color: var(--card-color);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.action-btn:hover {
    background-color: var(--primary-dark);
}

.btn-back {
    background-color: var(--muted-color);
}

.btn-back:hover {
    background-color: var(--secondary-color);
}

.result-box {
    padding: 1.25rem;
    background-color: #e8f8f5;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 480px) {
    nav {
        flex-direction:column;
        justify-content:center;
    }
}